.images{ 
    width: 1000px;
    height: 562px;

}

.body{
    margin-left: 40%;
}

.details-container {
    margin-left: 100px;
    margin-right: 100px;
}

.title1{
    text-align: center;
    font-weight: 400;
}