.images{ 
    width: 1000px;
    height: 562px;

}

.body{
    margin-left: 40%;
}

.details-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}

.title1{
    text-align: center;
    font-weight: 400;
}

.iframe{
    margin-top: 30px;
}